@tailwind base;
@tailwind components;
@tailwind utilities;


  @keyframes loader {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
  }
  
  .loader {
    width: 10px;
    height: 10px;
    background: #4490dc;
    border-radius: 50%;
    animation: loader 0.6s infinite alternate;
  }

  .background-image {
    background-image: url('/assets/landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
  }

  body {
    background-image: url('/landscape.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh;
    margin: 0;
  }

 