@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes loader {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
  }
  
  .loader {
    width: 10px;
    height: 10px;
    background: #3490dc;
    border-radius: 50%;
    animation: loader 0.6s infinite alternate;
  }